<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  <title>DavidAir</title>
</head>

<body>
  <header>
    <h2><a href="/"><i class="fas fa-plane-departure"></i>
        DavidAir</a></h2>
    <nav>
      <ul>

        <li>
          <a href="/fly">Flights</a><br><a href="/fly/add">Add a Flight</a>
        </li>
        <li>
          <a href="/captain">Captains</a><br><a href="/captain/addCaptain">Update the Captain</a>
        </li>
        <li>
          <a href="/officer">Officers</a><br><a href="/officer/updateOfficer">Update the Officer</a>
        </li>
        <li>
          <a href="/crew">Crew</a><br><a href="/crew/updatecrew">Update the Crew</a>
          <!--<br><a href="/raw">raw</a>-->
        </li>
        <li>
          <a href="/airport">Airports</a><br><a href="/airport/updateAirport">Update the Airport</a>
        </li>
        <li>
          <a href="/dispatcher">Dispatchers</a><br><a href="/dispatcher/updateDispatcher">Update the Dispatcher</a>
        </li>
        <li>
          <a href="/gstaff">Ground Crew</a><br><a href="/gstaff/updategstaff">Update the Ground Crew</a>
        </li>
        <li>
          <a href="/aircraft">Aircraft</a><br><a href="/aircraft/updateAircraft">Update the Aircraft</a>
        </li>
        <li>
          <a href="/countryAirport">Countries/ Airports</a><br><a href="/countryAirport/updateCountryAirport">Change the
            airport in the Country</a><br><a href="/airportUpdates">Airport Changes Logs</a>
        </li>
      </ul>
    </nav>
  </header>

  {{{body}}}
</body>

</html>