<section id="search" class="searchWrap">
  <h1>Fly with us</h1>
  <form action="/country/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="Find your flight">
    <input type="submit" value="Search">
  </form>
</section>